h1 {
    font-family: "Brush Script MT";
    font-size: 4em;
  }
.planetList {
    padding-left: 80px;
}
.planets {
  margin: 0 0 2em 0;
list-style-type: none;
padding: 0;
width: 15em;
}
.planets li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: lightblue;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.planets li:hover {
  color: rgb(50, 10, 83);
  background-color: rgb(217, 176, 233);
  left: .1em;
}
.planets li.selected {
  background-color: rgb(217, 176, 233);
  color: rgb(50, 10, 83);
}
.planets li.selected:hover {
  background-color: rgb(241, 230, 245);
  color: rgb(204, 156, 214);
}
[class*='col-'] {
  float: left;
}
.col-1-2 {
  width: 50%
}