<div class="container">
<div class="row">

<!--This for loop displays a list of clickable zodiac signs-->
<div class="col-md-6">
<h1>The Twelve Signs</h1>

<ul class="signs" style="font-weight: bold;">
<li *ngFor="let sign of signs"
    [class.selected]="sign === selectedSign"
    (click)="onSelect(sign)">
    <span>{{ sign.name | titlecase }}</span>
</li>
</ul>

</div>

<!--This section becomes visible when user selects a sign-->
<div class="col-md-6">

<div class="signDetail" *ngIf="selectedSign">

<div class="card" style="width: 400px">
<div class="card-body">
    <h1 class="card-title">{{selectedSign.name | titlecase}} Details</h1>
    <p class="card-text">
    <b>Dates:</b> {{selectedSign.startDate | titlecase}} - {{selectedSign.endDate | titlecase}}
    <br><b>Element:</b> {{selectedSign.element | titlecase}}
    <br><b>Mode:</b> {{selectedSign.mode | titlecase}}
    <br><b>Corresponding Tarot Card:</b> {{selectedSign.tarot | titlecase}}
    </p>
</div>
</div>

</div>

</div>

</div>
</div>


    