
<div class="grid">
<div class="row">

<!--This for loop displays a list of clickable zodiac signs-->
<div class="col-1-2">
<h1>The Twelve Signs</h1>
<ul class="signs">
<li *ngFor="let sign of signs"
    [class.selected]="sign === selectedSign"
    (click)="onSelect(sign)">
    <span>{{ sign.name | titlecase }}</span>
</li>
</ul>
</div>

<!--This section becomes visible when user selects a sign-->
<div class="col-1-2">
<div class="signDetail" *ngIf="selectedSign">
<div class="card">
<div class="card-body">
    <h2 class="card-title">{{selectedSign.name | titlecase}} Details</h2>
    <p class="card-text">
    Dates: {{selectedSign.startDate | titlecase}} - {{selectedSign.endDate | titlecase}}
    <br>Element: {{selectedSign.element | titlecase}}
    <br>Mode: {{selectedSign.mode | titlecase}}
    <br>Corresponding Tarot Card: {{selectedSign.tarot | titlecase}}
    </p>
</div>
</div>

</div>
</div>

</div>
</div>


    