h1 {
  font-family: "Brush Script MT";
  font-size: 4em;
}
.card {
  background-color: lightcoral;
}
.signs {
    margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.signs li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(211, 141, 218);
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .signs li:hover {
    color: rgb(50, 10, 83);
    background-color: rgb(217, 176, 233);
    left: .1em;
  }
  .signs li.selected {
    background-color: rgb(217, 176, 233);
    color: rgb(50, 10, 83);
  }
  .heroes li.selected:hover {
    background-color: rgb(241, 230, 245);
    color: rgb(204, 156, 214);
  }
