.grid {
    padding-left: 80px;
    padding-right: 80px;
}
h1 {
    text-align: center;
}
[class*='col-'] {
    float: left;
}
.col-1-2 {
    width: 50%
}
.col-1-4 {
    width: 25%;
}
a {
    padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: rgb(250, 171, 215);
  border-radius: 4px;
}