<body>
<div class="page-container">

<div class="content-wrap">

<header class="bg">
<h2>{{ title | titlecase }}</h2>
<h3>Where Astronomy Meets Astrology</h3>
</header>


<!--this is the navigation menu with links to the other components-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
    <ul class="navbar-nav nav-fill w-100" id="links">
          
        <li class="nav-item">         
        <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="signs">The Zodiac Signs</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="ruling planet">Find Your Ruling Planet</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="apod">Astronomy Picture Of the Day</a>
        </li>
      
        </ul>
  </div>

</nav>
 

<router-outlet></router-outlet>


</div>

<div class="bg">
<footer class="page-footer font-small blue">
    
    <div class="footer-copyright text-center py-3">
    <p><b>Helpful Links:</b>
    <br><b>For more info about our solar system:</b> <a href="https://solarsystem.nasa.gov/planets/overview/"> solarsystem.nasa.gov</a>
    <br><b>For thoughtful horoscopes:</b> <a href="https://chaninicholas.com/horoscopes/"> chaninicholas.com/horoscopes/</a>
    <br><b>On the origin of astronomy and astrology:</b> <a href="https://en.wikipedia.org/wiki/Astrology_and_astronomy"> wikipedia.org/wiki/Astrology_and_astronomy</a>
    </p>
    </div>
    
</footer>
</div>

</div>
</body>
