$bgcolor: rgb(135, 171, 238); 
$hoverColor: turquoise;

h2 {
    text-align: center;
    font-family: "Brush Script MT";
    font-size: 9em;
    color: $bgcolor;
}
h3{
    color: $bgcolor;
    text-align: center;
}
#links a{
    color: black;
    font-size:15pt;
}
#links a:hover{
    color: $hoverColor;
}
a{
    color: $bgcolor;
}
a:hover{
    color: $hoverColor;
}
.bg-light{
    background-color: $bgcolor !important;
}
.bg{
    background-image: url("../assets/img/milky-way.jpeg");
}
.page-container {
    position: relative;
    min-height: 100vh; 
}  
.content-wrap {
    padding-bottom: 2.5rem; 
    min-height: 700px;
    background-color: lightblue;   
}  
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
}
p{
    color: $bgcolor;
}

