$bgcolor: rgb(135, 171, 238);

h1 {
    font-family: "Brush Script MT";
    font-size: 4em;
    text-align: center;
}
h2{
  text-align: center;
  padding-top: 40px;
}
p{
  text-align: center;
}
.container{
    padding-top: 40px;
}
.card{
    background-color: $bgcolor;
}
.card-text{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
}
img{
    align-self: center;
}