
<div class="container">
<div class="row">

<div class="col-md-6">
<h1>Find Your Ruling Planet</h1>

<!--This is a dropdown form-->
<div class="form-group" [class.has-error]="form.touched && form.invalid">
<form [formGroup]="form" (ngSubmit)="onSubmit()">

<label>Select Your Zodiac Sign</label>   
<select formControlName="sign" id="form" class="form-control">

<!--This for loop displays a list of zodiac signs as menu items-->
<option *ngFor="let sign of signs"
[ngValue]="sign">{{sign.name | titlecase}}</option>
</select>

<!--This line provides validation for the form-->
<div class="alert alert-danger" *ngIf="form.touched && form.invalid">Please select a sign</div>
</form>
</div>
</div>

<!--This section appears when user selects a sign-->  
<div class="col-md-6">  

<div class="planetDetail" *ngIf="sign">

<div class="card" style="width: 21.5em;margin:0 auto;">
<div class="card-body">
<h1 class="card-title">{{sign?.planet | titlecase}}</h1>
<p class="card-text">{{sign?.stats}}</p>
</div>
</div>

</div>

</div>

</div>
</div>