h1 {
    font-family: "Brush Script MT";
    font-size: 4em;
  }
  h2 {
    font-family: "Brush Script MT";
    font-size: 4em;
    text-align: center;
  }
  .form-group {
      padding-left: 80px;
      padding-right: 80px;
  }
  [class*='col-'] {
    float: left;
  }
  .col-1-2 {
    width: 50%
  }