$bgcolor: rgb(135, 171, 238);

h1 {
    font-family: "Brush Script MT";
    font-size: 4em;
  }
  .container{
    padding-top: 40px;
 }

  .card {
    background-color: $bgcolor;
    align-items: center;
  }