<div class="form-group" [class.has-error]="form.touched && form.invalid">

    <h1>Find Your Ruling Planet</h1>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <label>Select Your Sign</label>
          
    <select formControlName="sign" id="form" class="form-control">
    
        <option *ngFor="let sign of signs"
             [ngValue]="sign">{{sign.name | titlecase}}</option>
                    
    </select>
    <span class="help-block" *ngIf="form.touched && form.invalid">Please select a sign</span>
    
    <h2>{{sign?.planet | titlecase}}</h2>
</form>
    