$bgcolor: rgb(163, 219, 241);

h1 {
    font-family: "Brush Script MT";
    font-size: 4em;
  }
  h2 {
    font-family: "Brush Script MT";
    font-size: 4em;
    text-align: center;
  }
  .container {
      //padding-left: 80px;
      padding-right: 80px;
      padding-top: 80px;
  }
  img{
    text-align: center;
  }
  [class*='col-'] {
    float: left;
  }
  .col-1-2 {
    width: 50%
  }
  .card {
    background-color: $bgcolor;
  }